export(
  STRINGdb,
  delColDf,
  downloadAbsentFile,
  downloadAbsentFileSTRING,
  multi_map_df,
  renameColDf
)

exportClasses(
    STRINGdb
)

import(
       RColorBrewer,
       httr,
       gplots,
       hash,
       igraph,
       methods,
       plyr,
       png,
       sqldf
)

importFrom(plotrix, color.scale)
