import(plyr)
import(Rsamtools)
import(doParallel)
import(methods)
import(stringr)
import(Biostrings)
import(matrixStats)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges,IRanges,shift,breakInChunks)
export(snpDiff,indelDiff)
