exportClasses(
 "TNI",
 "TNA",
 "AVS"
)

exportMethods(
  "tni.preprocess",
  "tni.permutation",
  "tni.bootstrap",
  "tni.dpi.filter",
  "tni.get",
  "tni.graph",
  "tni.conditional",
  "tni.gsea2",
  "tni.area3",
  "tni.regulon.summary",
  "tni.prune",
  "tni.replace.samples",
  "tni.overlap.genesets",
  "tni.annotate.regulons",
  "tni.annotate.samples",
  "tni.sre",
  "tni2tna.preprocess",
  "tna.mra",
  "tna.gsea1",
  "tna.gsea2",
  "tna.get",
  "avs.vse",
  "avs.evse",
  "avs.rvse",
  "avs.pevse",
  "avs.get"
)

export(
  "tni.constructor",
  "tna.plot.gsea1",
  "tna.plot.gsea2",
  "avs.plot1",
  "avs.plot2",
  "upgradeTNI",
  "upgradeTNA",
  "tni.alpha.adjust",
  "tni.plot.checks",
  "tni.plot.sre"
)
import(methods)
importFrom(minet, aracne)
importFrom(snow, parSapply, parLapply, makeCluster, stopCluster, clusterExport)
importFrom(limma, lmFit, makeContrasts, eBayes, contrasts.fit, decideTests)
importFrom(RedeR, att.mapv, att.setv, att.sete)
importFrom(igraph, vertices, graph.edgelist, get.edgelist, remove.graph.attribute, E, V, 'V<-', 'E<-')
importFrom(igraph, is.igraph, ecount, vcount, degree, graph.empty)
importFrom(data.table, data.table, setkey, '%chin%', rbindlist, dcast)
importFrom(IRanges, IRanges, overlapsAny, findOverlaps, NCList, reduce)
importFrom(S4Vectors, from, to)
importFrom(stats, pchisq, complete.cases, optimize, var, fisher.test)
importFrom(grDevices, col2rgb, colorRampPalette, dev.off, palette, pdf, rgb, adjustcolor)
importFrom(graphics, lines, mtext, text, par, plot, plot.new, points, polygon, segments, title, legend)
importFrom(graphics, plot.window, barplot, box, abline, axis, boxplot,hist, image, layout, grid)
importFrom(stats, pf, median, model.matrix, p.adjust, phyper, pnorm, qnorm, quantile, sd, shapiro.test, ecdf)
importFrom(stats, aggregate, anova, aov, as.dist, coef, cor, formula ,hclust, ks.test, lm, manova)
importFrom(utils, data, setTxtProgressBar, txtProgressBar, capture.output)
importFrom(mixtools,normalmixEM)
importFrom(viper,aREA)
importFrom(SummarizedExperiment, assays, rowData, colData)
importFrom(car, powerTransform, yjPower)
importFrom(pwr, pwr.r.test)
importFrom(pheatmap, pheatmap)




